
.App {
    text-align: center;
  }
  

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem 2rem; */
    background-color: #2455f6;
    color: white;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  /* Card container and card styling */
  .card-container {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
  }
  
  .card {
    background-color: #f4f4f4;
    padding: 1.5rem;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card h3 {
    margin-bottom: 1rem;
  }
  
  .card p {
    font-size: 1.2rem;
    font-weight: bold;
  }
  